@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@400;700&family=Righteous&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #FB6B6B;

}
.welcome {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}
.welcome img {
    width: 136px;
    margin: 200px 0 13px;
}

.welcome h1 {
    margin-bottom: 30px; 

    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: -0.012em;

    color: #FFFFFF;
}

.welcome  .startButton {
    width: 246px;
    height: 54px;

    display: flex;
    align-items: center;
    justify-content: center;
    
    color: #D70900;

    background: #FFFFFF;
    border: 1px solid #D70900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;

    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

.startButton:hover {
    cursor: pointer;
    transform: scale(1.05);

}

.hidden {
    display: none;
}
